Podfile.lock
Atlas.xcodeproj/project.xcworkspace/xcuserdata/kostiantynmadiar.xcuserdatad
Atlas.xcodeproj/xcuserdata/kostiantynmadiar.xcuserdatad
Atlas.xcworkspace/xcuserdata/kostiantynmadiar.xcuserdatad
Manifest.lock
Pods
